<!DOCTYPE html>
<html>
<head>
  <%-include("head.ejs") %>
</head>
<body>
  <div id="selector">
    <p>Select circuit</p>
    <select id="circuitSelect">
      <option value="all">All Circuits</option>
      <% for (var country in circuits) { %>
        <optgroup label="<%= country %>">
          <% for (var circuitName in circuits[country]) { %>
            <option value="<%= circuitName %>"><%= circuitName %></option>
          <% } %>
        </optgroup>
      <% } %>
    </select>
  </div>
  <div id="map"></div>
  <script>
    var circuits = <%- JSON.stringify(circuits) %>;
  </script>
</body>
</html>
