<!DOCTYPE html>
<html lang="en">

<head>
  <%-include('head.ejs') %>
</head>

<body>
  <%-include("menu.ejs") %>
    <main class="team-info-banner-container">
      <section class="team-driver-banner info-banner">
        <div class="infoCardContainer">
          <div class="info-card">
            <div class="info-card-content">
              <div class="back">
                <div class="back-content back-content-img">
                  <img class="back-content-img"
                    src="./img/Team/<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>/<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>-Driver-img.jpg"
                    alt="RedBull-Team-">
                </div>
              </div>
              <div class="front">
                <div class="driver-front-content">
                  <% teamInfo.forEach(teamInfo=> { %>
                    <div class="driver driver1 driver-img">
                      <a href="/driver?data=<%=teamInfo.DriverID %>">
                        <div class="front-img driver-img">
                          <small class="badge">
                            <%=teamInfo.DriverName %>
                          </small>
                          <img class="driver-img"
                            src="./img/Team/<%= teamInfo.TeamName.replace(/\s+/g, '-') %>/<%=teamInfo.TeamName.replace(/\s+/g, '-')%>-Driver-<%=teamInfo.DriverName.replace(/\s+/g, '-') %>.jpg"
                            alt="<%= teamInfo.TeamName.replace(/\s+/g, '-') %>-Team-Driver-img">
                        </div>
                      </a>
                    </div>
                    <% }); %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="team-car-banner info-banner">
        <div class="infoCardContainer">
          <div class="info-card">
            <div class="info-card-content">
              <div class="back">
                <div class="back-content back-content-img">
                  <img class="back-content-img" src="./img/Team/<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>/<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>-Team-Car-img1.jpg" alt="<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>-Team-Car-Img">
                </div>
              </div>
              <div class="front">
                <a href="#team-info-page">
                  <div class="front-content">
                    <small class="badge"><%= teamInfo[0].TeamName%></small>
                    <div class="front-img"><img class="principal-img" src="./img/Team/<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>/<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>-Team-Car-img2.jpg" alt="<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>-Team-Car-img">
                    </div>
                    <div class="description">
                      <div class="title">
                        <strong>Machine Name</strong>
                      </div>
                      <p class="info-card-footer">
                        <%= teamInfo[0].MachineName%>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="team-TeamPrincipal-banner info-banner">
        <div class="infoCardContainer">
          <div class="info-card">
            <div class="info-card-content">
              <div class="back">
                <div class="back-content principal-img">
                  <img class="team-logo-img"
                    src="./img/Team/<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>/<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>-Team-Logo.jpg"
                    alt="RedBull-Team-">
                </div>
              </div>
              <div class="front">
                <a href="#team-info-page">
                  <div class="front-content">
                    <small class="badge"><%= teamInfo[0].TeamName%></small>
                    <div class="front-img"><img src="./img/Team/<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>/<%= teamInfo[0].TeamName.replace(/\s+/g, '-') %>-Team-Principal.jpg" alt="RedBull-Team-Principal-img">
                    </div>
                    <div class="description">
                      <div class="title">
                        <strong>Team Principal</strong>
                      </div>
                      <p class="info-card-footer">
                        <%= teamInfo[0].TeamPrincipal%>
                      </p>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
</body>

</html>