<!DOCTYPE html>
<html lang="en">

<head>
  <%-include("head.ejs") %>
</head>

<body>
  <%-include("menu.ejs") %>
    <main>
      <section class="team-banner-container">
        <% teams.forEach(team=> { %>
          <div class="team-banner" style="--default-hover-color: var(--<%= team.TeamName.replace(/\s+/g, '-') %>-main);
               ">
            <a href="/team?data=<%=team.TeamID %>">
              <div class="team-name" style="--default-text-color: var(--<%= team.TeamName.replace(/\s+/g, '-') %>-text)">
                <%= team.TeamName %>
              </div>
              <img src="/img/Team/<%= team.TeamName.replace(/\s+/g, '-') %>/<%= team.TeamName.replace(/\s+/g, '-') %>-team-img.jpg"
              alt="<%= team.TeamName %>_team_img" class="team-img">
            </a>
            </div>
          <% }); %>
      </section>
    </main>
</body>

</html>